.navBarLink {
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(245, 243, 243);
  color: black;
  width: 10rem;
  height: 4rem;
}
.container {
  :hover {
    background-color: rgb(198, 228, 238);
  }
}
